<html>
<head>
	<title>Questions</title>
</head>
<body>
<h1 align="center">Welcome to the list of Odin Questions</h1>
<h3><u><b>TODO:</b></u></h3>
	<li>Display All the Questions and their choices on this page.</li>
	<li>Create form to enter new questions and place link</li>


</body>
</html>