<html>
<head>
	<title>New Question</title>
</head>
<body>
<h1 align="center">Welcome to the New Question Submission Form</h1>
<h3>This will be a form to input new questions into the database</h3>


</body>
</html>