<html>
<head>
	<title>Schedules</title>
</head>
<body>
<h1 align="center">Welcome to the list of Odin Schedules</h1>
<h3><u><b>TODO:</b></u></h3>
	<li>Display All the Schedules</li>
	<li>Create form to enter new schedules and place link</li>


</body>
</html>