<html>
<head>
	<title>New Schedule</title>
</head>
<body>
<h1 align="center">Welcome to the New Schedule Submission Form</h1>
<h3>This will be a form to input new schedules into the database</h3>


</body>
</html>