<html>
<head>
	<title>Project Test Page</title>
</head>
<body>
<h1 align="center">Welcome to the Test Page for the NSF Cellphone Project Thing</h1>
<h3>Select something to do below:</h3>

<ul>
	<li>View Interactions: <a href="/interactions.json">JSON</a>/<a href="/interactions.csv">CSV</a>/Specific User</li>
	<li>View <a href="/questions.json">All Questions</a></li>
	<li>View Answers: <a href="/answers.json">JSON</a>/<a href="/answers.csv">CSV</a>/Specific User</li>
	<li>Schedules: <%= link_to "All Schedules", controller: "schedules" %> | <%= link_to "New Schedule", "/schedules/new" %></li>
	<li>View <a href="/rules.json">All Rules</a></li>
	<li>View <a href="/users.json">All Users</a></li>
</ul>

</body>
</html>